@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #222;
  text-align: center;
  color: #ddd;
}

canvas{
  border: 2px solid #fff;
  border-radius: 16px;
}

.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}